.new-player-input {
  margin: 0;
  padding: 0;
  border: 1px solid var(--ion-color-primary);
}

.player-delete-icon {
  color: var(--ion-color-danger);
}

@media all and (orientation: landscape) {
  #player-entry-input {
    width: 50%;
  }
}