// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

.pulse-full {
  animation: shadow-pulse-full 1s infinite;
}

@keyframes shadow-pulse-full
{
  0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
      transform: scale(1);
  }
  100% {
    box-shadow: 0 0 0 800px rgba(0, 0, 0, 0);
    transform: scale(0.9);
  }
}

@media all and (orientation: landscape) {
  .center {
    margin: auto;
    display: block;
    margin-top: 7%;
  }
}